@model SV22T1020469.Models.Common.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý Khách hàng";
}

@section PageToolBar {
    <a href="~/Customer/Create" class="btn btn-primary d-flex align-items-center ms-1">
        <i class="bi bi-plus-circle me-1"></i> Bổ sung
    </a>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-3">
        <i class="bi bi-exclamation-triangle me-1"></i> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-3">
        <i class="bi bi-check-circle me-1"></i> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch"
              method="get"
              action="~/Customer/Search"
              data-target="searchResult"
              onsubmit="paginationSearch(event, this, 1)">

            <input type="hidden" asp-for="PageSize" />

            <div class="input-group">
                <input type="text" asp-for="SearchValue"
                       class="form-control"
                       placeholder="Nhập tên khách hàng, giao dịch, email..." autofocus />
                <button type="submit" class="btn btn-info d-flex align-items-center">
                    <i class="bi bi-search me-1"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div id="searchResult"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paginationSearch(null, document.getElementById("formSearch"), @Model.Page);
        });
    </script>
}