@model int
@{ Layout = null; }
<form method="post" action="/Order/Delete/@Model">
    <div class="modal-header text-bg-danger">
        <strong class="modal-title"><i class="bi bi-trash me-1"></i>Xóa đơn hàng</strong>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-secondary d-flex align-items-center mb-0">
            <i class="bi bi-trash me-2 fs-4"></i>
            <span>Thao tác này sẽ xóa vĩnh viễn đơn hàng. Bạn có chắc chắn?</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger"><i class="bi bi-trash me-1"></i>Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    </div>
</form>
