<h4>Thêm hình ảnh</h4>

<form method="post" enctype="multipart/form-data">
    <input type="file" class="form-control mb-3" />
    <button class="btn btn-primary">Lưu</button>
    <a class="btn btn-secondary" href="javascript:history.back()">Quay lại</a>
</form>