@model SV22T1020469.Models.Catalog.ProductAttribute
@{
    ViewBag.Title = "Xóa thuộc tính";
}
@section PageToolBar {
    <button type="submit" form="formDelete" class="btn btn-danger">
        <i class="bi bi-trash"></i> Xác nhận xóa
    </button>
    <a href="~/Product/Edit/@Model.ProductID#attributes" class="btn btn-secondary ms-1">
        <i class="bi bi-arrow-left"></i> Quay lại
    </a>
}

<div class="card card-danger card-outline">
    <div class="card-header">
        <h5 class="mb-0 text-danger"><i class="bi bi-exclamation-triangle me-2"></i> Bạn có chắc chắn muốn xóa thuộc tính này?</h5>
    </div>
    <div class="card-body">
        <form id="formDelete" action="~/Product/DeleteAttribute" method="post">
            <input type="hidden" name="attributeId" value="@Model.AttributeID" />
            <input type="hidden" name="productId" value="@Model.ProductID" />

            <dl class="row mb-0 fs-5">
                <dt class="col-sm-3">Tên thuộc tính:</dt>
                <dd class="col-sm-9 fw-bold">@Model.AttributeName</dd>

                <dt class="col-sm-3">Giá trị:</dt>
                <dd class="col-sm-9 text-primary">@Model.AttributeValue</dd>
            </dl>
        </form>
    </div>
</div>